.botonOpcionCrearPartida{
    text-align: center;
    margin-top: 2%;
    text-decoration: none;
}
.inputBox{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.errorMessage{
    text-align: center;
}
.botonOpcionListarPartida{
    text-align: center;
    margin-top: 5%;
}
h1{
    text-align: center;
    text-decoration: none;
}
