.centeredButton{
  text-align : center;
}
<<<<<<< HEAD
.centeredButton{
  text-align : center;
}
.selectedCard{
  background-color: tomato;
}
.optionCard{
}
=======
.selectedCard{
  background-color: tomato;
}
>>>>>>> dev
